@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');

body{
    background-image: url('../assets/Projeto-Quiz/Informações.png');
    
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
}

h1, p, ul, li, button {
    color: black;
    text-align: start;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 15px;
}
nav{
  position: fixed;

  width: 20%;
  bottom: 20px;
  left: 20px;
}

nav i{
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

button{
    background-color: rgb(69, 93, 116);
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.botoes{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px rgb(32, 58, 82);
}

button:active {
  transform: translateY(1px);
  box-shadow: 4px 4px rgba(17, 52, 72, 0.979);
}

@media (max-width: 918px){
  ul{
    width: 95%;
  }
}