@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(182, 212, 238);
    padding: .2%;
    align-items: center;
    justify-content:center ;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 30px;
    gap: 20px;

}

nav{
  position: fixed;

  width: 100%;
  bottom: 20px;
  left: 0;
}

nav i{
  font-size: 3rem;
  cursor: pointer;
}

form h1{
  font-weight: 500;
  width: 700px;
  text-align: center;
}

.containerInput{
    margin-bottom: 3%;
}

.pergunta{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
  text-align: center;
  margin: 0;
}

.caixapersonagem, #fundo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.respPersonalizar{
    display: flex;
    flex-direction: column;
}

.pergBotao, .botoes{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.pergBotao{
  margin-bottom: 100px;
}

.pergBotao button:disabled{
  background-color: rgb(191, 223, 223);
 color: black;
}

button{
    cursor: pointer;
    background-color: aliceblue;
    font-size: 2rem;
    border-radius: .6rem;
    padding: 2px 10px;
    margin-top: 10px;
    border-color: rgba(132, 228, 227);
    box-shadow: 4px 4px 0 rgb(133, 186, 209);
    transition: box-shadow 0.2s ease;
}

button:active, .botoes button:active {
  box-shadow: 0 2px 3px rgb(86, 146, 207);
}

button:hover, .botoes button:active {
  box-shadow: 4px 4px 0 rgb(10, 142, 185);
  transform: translateY(2px);
}

#resposta{
    display: flex;
    white-space: nowrap;
    margin-top: 70px;
}


#caixapersonagem.mostrar {
  display: flex;
}

#personagem {
  display: flex;
  background: aliceblue;
  border: 2px solid black;
  border-radius: .2rem;
}

#uploadsContainer{
    display: flex;
    flex-direction: column;
}

.upload-container input[type="file"], .containerInput input[type="file"], #uploadFundo {
    font-size: 1rem;
    width: 100%;
}

.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

input{
  padding: 6px 10px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.4rem;
}

.pergObg h3{
  color: brown;
  font-weight: normal;
  font-size: 1.2rem;
}

.pergObg{
  display: flex;
  width: 20vw;
  margin-top: 3rem;
}

.containerInput{
  display: flex;
  flex-direction: column;
}

label{
  width: 400px;
  text-align: center;
}

input[type="file"]{
  margin-top: 7%;
}

#caixapersonagem p{
  margin-bottom: 7%;
}

#fundo p{
  margin-top: 12%;
}

.enviarform{
  margin-top: 5%;
}

.aviso{
  color: brown;
  margin-top: 2rem;
  font-size: 2rem;
}


.enviarform:disabled{
  pointer-events: none;
  background-color: grey;
}

@media (max-width: 710px){
  
  form h1{
    font-size: 1.4rem;
    width: 90%;
  }


  .containerInput *{
    font-size: 1rem;
  }

  .containerInput.csv input{
    width: 70%;
  }

}