@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(182, 212, 238);
    padding: .2%;
    align-items: center;
    justify-content:center ;
}

form{
    display: flex;
    flex-direction: column;
}

input[type="number"] {
    margin-bottom: 1.5%;
}