@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');

body {
    background-image: url(../assets/Projeto-Quiz/telaEscolherTema.png);
    font-family: 'Poppins', sans-serif;
    background-position: 20px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 40px;
    transition: 2s;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}    

p{
    display: flex;
    font-size: 3rem;
    margin-top: 5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}
nav{
  position: fixed;

  width: 100%;
  bottom: 20px;
  left: 0;
}

nav i{
  font-size: 3rem;
  cursor: pointer;
}

button{
    font-family: 'Poppins', sans-serif;
    font-weight: initial;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    padding: 20px 34px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    background: linear-gradient(135deg, #afffB3, #70e000);
    transition: .4s;
}
button:first-child:hover ~ body{
 background-image: url(../assets/Projeto-Quiz/telaEsportes.png); 
}

button:hover{
  padding: 20px 50px;
  box-shadow: 0 10px rgb(0, 153, 255);
  letter-spacing: 6px;
}

.container{
    display: flex;
    gap: 5rem;
}

.itens{
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    gap: 2rem;
}

.lastButton{
    display: flex;
    margin-top: 1.2rem;
}

img{
    display: flex;
    width: 100px;
}

@media (max-width: 786px){
  *{
    font-size: .4rem;
  }

  body{
    background-size: 600px;
    background-repeat: repeat;
  }

  button{
  }
}