@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
   background-image: url(/src/assets/Projeto-Quiz/telaInicial.png);
   background-size:cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.inicio button, .gincana button {
  width: 300px;
  height: 305px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-align: center;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #afffB3, #70e000);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 500px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease;
}

button p{
  font-size: 1rem;
  width: 90%;
}

.inicio button:hover, .gincana button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.inicio button:active, .gincana button:active {
  transform: translateY(1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}